@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<div class="container pt-3 pb-3">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Dieses Konto wurde gesperrt. Bitte versuchen Sie es später erneut.</p>
    </header>
</div>