@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container pt-3 pb-3">
    <div class="d-flex justify-content-between">
        <h3 class="ps-3">Neue Konto erstellen</h3>
    </div>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="d-flex flex-column p-3 gap-5">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="d-flex p-3 flex-column" style="position: relative;border: 1px dotted black; border-radius: 5px;">
            <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Benutzer Info&nbsp;&nbsp;</h5>

            <div class="d-flex flex-fill mt-1" style="gap:20px;">
                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Email">E-Mail</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Password">Passwort</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="passwort" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 flex-fill">
                    <label asp-for="Input.ConfirmPassword">Passwort bestätigen</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="passwort" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="d-flex p-3 flex-column" style="position: relative;border: 1px dotted black; border-radius: 5px;">
            <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Kontakt Info&nbsp;&nbsp;</h5>
            <div class="d-flex flex-fill mt-1" style="gap:20px;">

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Anrede">Anrede</label>

                    <select class="form-select" aria-required="true" asp-for="Input.Anrede" id="Anrede">
                        <option>Herr</option>
                        <option>Frau</option>
                        <option>--</option>
                    </select>
                    <span asp-validation-for="Input.Vorname" class="txt-danger"></span>
                </div>

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Vorname">Vorname</label>
                    <input asp-for="Input.Vorname" class="form-control" autocomplete="Vorname" aria-required="true" placeholder="Diler" />
                    <span asp-validation-for="Input.Vorname" class="txt-danger"></span>
                </div>

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Nachname">Nachname</label>
                    <input asp-for="Input.Nachname" class="form-control" autocomplete="Nachname" aria-required="true" placeholder="Singh" />
                    <span asp-validation-for="Input.Nachname" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex flex-fill mt-1" style="gap:20px;">
                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Telefon">Telefon</label>
                    <input asp-for="Input.Telefon" class="form-control" autocomplete="Telefon" aria-required="true" placeholder="012345678" />
                    <span asp-validation-for="Input.Telefon" class="text-danger"></span>
                </div>

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Stadt">Stadt</label>
                    <input asp-for="Input.Stadt" class="form-control" autocomplete="Stadt" aria-required="true" placeholder="Hamburg" />
                    <span asp-validation-for="Input.Stadt" class="text-danger"></span>
                </div>

                <div class="mb-3 flex-fill">
                    <label asp-for="Input.Land">Land</label>
                    <input asp-for="Input.Land" class="form-control" autocomplete="Land" aria-required="true" placeholder="DE" />
                    <span asp-validation-for="Input.Land" class="text-danger"></span>
                </div>
            </div>

        </div>

        
        <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary align-self-end">Registerieren</button>
    
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
