@model KontaktModel

@{
    ViewData["Title"] = "User Kontakt Info";
}

<div class="container p-5">

    <h3>Ihre Passwort wurde erfolgreich geändert.</h3>

    <button type="button" class="btn btn-primary mt-5" onclick="history.back()">Zurück</button>

</div>